html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-image: url('../../images/bg-pattern.png');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: flex;
  flex-direction: column;
  font-family: 'ff-tisa-web-pro', Palatino, ' Palatino Linotype',
    'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 14px;
}
.title {
  text-transform: uppercase;
  color: #000;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 10px;
}
.subtitle,
.subtitleNext {
  display: block;
  font-family: 'din-condensed-web', 'Trebuchet MS', 'Arial Narrow', Arial,
    sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s color linear;
  margin: 0 auto;
}
.subtitle {
  margin-bottom: 20px;
}
.subtitleNext {
  margin-bottom: 40px;
}

.projectContainerFirst,
.projectContainerSecond {
  display: block;
  width: 280px;
  height: 140px;
  position: relative;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 16px;
}

.imgFirst,
.imgSecond,
.imgThird {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-size: cover;
}
/* .imageContainer {
  display: none;
} */

.linkFirstTitle,
.linkImageTitle,
.linkKidsLikeTitle,
.linkStatisticTitle,
.linkCardsListTitle {
  font-family: 'din-condensed-web', 'Trebuchet MS', 'Arial Narrow', Arial,
    sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.2s color linear;
  position: absolute;
  top: 20%;
  left: 28%;
}

.linkImageTitle {
  left: 32%;
}
.linkKidsLikeTitle {
  left: 38%;
}
.linkStatisticTitle {
  left: 26%;
}
.linkCardsListTitle {
  left: 37%;
}

.linkFirstTitle:hover,
.linkKidsLikeTitle:hover,
.linkImageTitle:hover,
.linkStatisticTitle:hover,
.linkCardsListTitle:hover {
  color: #c33;
}

.overlay {
  /* display: none; */
  width: 0;
  height: 0;
}
.linkFirstTitle {
  display: block;
}
@media (min-width: 768px) {
  .container {
    width: 560px;
    height: 100vh;
    margin-left: 26%;
    padding-top: 60px;
  }
  .projectContainerFirst,
  .projectContainerSecond {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
  }
  .linkImageTitle {
    top: 36%;
    left: 40%;
  }
  .linkKidsLikeTitle {
    top: 30%;
    left: 43%;
  }
  .linkStatisticTitle {
    top: 30%;
    left: 36%;
  }
  .linkCardsListTitle {
    top: 30%;
    left: 40%;
  }
  .linkFirstTitle {
    top: 30%;
    left: 38%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
  .overlay {
    width: unset;
  }

  .subtitle {
    margin-bottom: 60px;
  }
  .imageContainer {
    display: flex;
    width: 900px;
    /* margin-bottom: 20px; */
  }
  .projectContainerFirst {
    width: 600px;
    height: 240px;
    margin-bottom: 20px;
  }
  .projectContainerSecond {
    width: 280px;
    height: 240px;
    margin-bottom: 20px;
  }

  .linkImageTitle {
    top: 5%;
    left: 28%;
    font-size: 22px;
    color: #ffffff;
  }
  .linkKidsLikeTitle {
    top: 5%;
    left: 40%;
    font-size: 22px;
    color: #ffffff;
  }
  .linkStatisticTitle {
    top: 4%;
    left: 18%;
    font-size: 22px;
    color: #ffffff;
  }
  .linkCardsListTitle {
    top: 4%;
    left: 44%;
    font-size: 22px;
    color: #ffffff;
  }
  .linkFirstTitle {
    top: 5%;
    left: 38%;
    font-size: 22px;
    color: #ffffff;
  }
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: #ffffff;
    /* -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition-duration: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; */
  }

  .overlayPar,
  .overlayParImg,
  .overlayParStat {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    margin-top: 100px;
    padding: 0px 10px;
    margin-bottom: 20px;
  }

  .overlayParImg,
  .overlayParStat {
    margin-top: 80px;
  }
  .overlayBtn {
    display: block;
    width: 140px;
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
  }
  .overlayLink {
    text-decoration: none;
  }
}
